.Contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 1rem;
}

.ContactWrapper {
  background-color: var(--color-white);
  border-radius: 3rem;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.EmailLinkWrapper {
  background-color: var(--color-white);
  border-radius: 3rem;
  border: 1px solid #333;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EmailLink {
  color: #333;
  text-decoration: none;
}
