.Contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 1rem;
}

.ContactWrapper {
  background-color: var(--color-white);
  border-radius: 3rem;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.EmailLinkWrapper {
  background-color: var(--color-white);
  border-radius: 3rem;
  border: 1px solid #333;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EmailLinkWrapper svg {
  margin-bottom: 1rem;
}

.EmailLink {
  color: #333;
  text-decoration: underline;
  text-transform: uppercase;
  transition: color 0.3s;
}

.EmailLink:hover {
  color: #666;
}

.ContactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 75%;
}

.ContactForm input {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;

  border: 1px solid #666;
  border-radius: 3px;
}

.ContactForm input:focus {
  outline: none;
}
