.Contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 1rem;
}

.ContactWrapper {
  /* background-color: var(--color-white); */
  border-radius: 3rem;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.EmailLinkWrapper {
  background-color: var(--color-white);
  border-radius: 3rem;
  border: 1px solid #d9d9d9;
  padding: 1rem;
  width: 50%;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  .EmailLinkWrapper {
    width: 100%;
  }
}

.EmailLinkWrapper p {
  font-size: 1.4rem;
  color: #333;
}

.EmailLinkWrapper svg {
  margin-bottom: 1rem;
}

.EmailLink {
  color: #333;
  text-decoration: underline;
  text-transform: uppercase;
  transition: color 0.3s;
}

@media only screen and (max-width: 900px) {
  .EmailLink {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 400px) {
  .EmailLink {
    font-size: 1rem;
  }
}

.EmailLink:hover {
  color: #666;
}

.ContactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 75%;
}

.ContactForm label {
  /* color: #333; */
  color: var(--color-white);
  margin-bottom: 0.3rem;
}

.ContactForm input {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;

  /* border: 1px solid #666; */
  border: 1px solid var(--color-purple);
  border-radius: 3px;
}

.ContactForm input:focus,
.ContactForm textarea:focus {
  outline: none;
}

.ContactForm textarea {
  width: 100%;
  margin-bottom: 2rem;
}

.ContactFormHeader {
  font-size: 2.2rem;
  font-weight: 400;
  /* color: #333; */
  color: var(--color-white);
  border-bottom: 1px solid var(--color-purple);
  text-transform: uppercase;
}

.ContactForm button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition: color 0.25s;

  /* color: #333; */
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.ContactForm button::after {
  position: absolute;
  content: '';
  height: 2px;
  background-color: var(--color-purple);
  width: 110%;
  bottom: 1px;
  display: block;
  transform-origin: bottom;
  transition: all 0.25s;
  z-index: -1;
}

.ContactForm button:hover::after {
  height: 100%;
}

/* .ContactForm button:hover {
  color: var(--color-white);
} */
