.HeroWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  height: 20rem;
}

.Hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
