.MyWork {
  width: 100%;
  min-height: 100vh;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 1rem;
}

.Header {
  font-size: 3rem;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 300;
  word-spacing: 2rem;
  margin-top: 4.5rem;
}

@media only screen and (max-width: 1000px) {
  .MyWork {
    height: auto;
  }
}

@media only screen and (max-height: 700px) {
  .MyWork {
    height: auto;
  }
}
