.MyWork {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Header {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  word-spacing: 2rem;
}
