.Nav {
  height: 5rem;
  width: 100%;
  background-color: var(--color-purple);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavItemsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 650px) {
  .Nav {
    justify-content: end;
  }
  .NavItemsWrapper {
    display: none;
  }
}
