.ProjectCard {
  width: 90%;
  height: 45%;
  border: 1px solid var(--color-green);
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(85, 239, 196, 0.3);
  display: flex;
  margin: 1rem 0;
}

.CardLeft {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.ProjectImg {
  border-radius: 5px;
}

.ProjectImgWrapper {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 1.4rem;
  width: 90%;
  height: 90%;
  transition: transform 0.2s;
  position: relative;
  display: block;
}

.ProjectImgWrapper:hover {
  transform: scaleY(1.11) scaleX(1.03);
}

.ProjectTitle {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
}

.ProjectDescription {
  color: #fff;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
  text-align: center;
}

.ProjectLinks {
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  flex-grow: 2;
}

.LinkWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: filter 0.2s;
}

.ProjectLink {
  color: var(--color-green);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.ProjectLink:hover {
  filter: brightness(150%);
}

@media only screen and (max-width: 1450px) {
  .ProjectCard {
    width: 98%;
  }
}

@media only screen and (max-width: 1300px) {
  .ProjectDescription {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1250px) {
  .CardLeft {
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  .ProjectCard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .CardLeft {
    width: 100%;
  }

  .ProjectImgWrapper {
    margin: 1rem auto;
    height: 50rem;
    width: 96%;
  }

  .ProjectImgWrapper:hover {
    transform: scaleX(1) scaleY(1);
  }
}

@media only screen and (max-height: 700px) {
  .ProjectCard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .CardLeft {
    width: 100%;
  }

  .ProjectImgWrapper {
    margin: 1rem auto;
    height: 50rem;
    width: 96%;
  }

  .ProjectImgWrapper:hover {
    transform: scaleX(1) scaleY(1);
  }
}

@media only screen and (max-width: 600px) {
  .ProjectImgWrapper {
    height: 35rem;
  }
}
