.ProjectCard {
  width: 90%;
  height: 45%;
  border: 1px solid #55efc4;
  box-shadow: 0 0 1px 3px rgba(85, 239, 196, 0.3);
  display: flex;
}

.CardLeft {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.ProjectImg {
  border-radius: 5px;
}

.ProjectImgWrapper {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 1rem;
  width: 90%;
  height: 90%;
  transition: transform 0.2s;
  position: relative;
  display: block;
}

.ProjectImgWrapper:hover {
  transform: scaleY(1.125) scaleX(1.05);
}

.ProjectTitle {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
}

.ProjectDescription {
  color: #fff;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
  text-align: center;
}

.ProjectLinks {
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  flex-grow: 2;
}

.LinkWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: filter 0.2s;
}

.ProjectLink {
  color: #55efc4;
  font-size: 2rem;
}

.ProjectLink:hover {
  filter: brightness(150%);
}

@media only screen and (max-width: 1250px) {
  .CardLeft {
    width: 70%;
  }
}
