.SideBar {
  position: fixed;
  height: 100%;
  width: 25rem;
  left: 0;
  top: 0;
  z-index: 100000;
  background-color: var(--color-purple);
  transition: transform 0.3s ease-out;

  display: flex;
  align-items: center;
}

.Nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 60%;
  padding: 2rem;
}

.Open {
  transform: translateX(0);
}

.Closed {
  transform: translateX(-100%);
}

@media only screen and (min-width: 800px) {
  .SideBar {
    display: none;
  }
}
